name: Release Please

permissions: {}

on:
  push:
    branches:
      - main

concurrency:
  group: release-please
  cancel-in-progress: false

jobs:
  release-please:
    name: Release Please
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      should-publish: ${{ steps.release-please.outputs.release_created }}
      tag: ${{ steps.release-please.outputs.tag_name }}
    steps:
      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          app-id: ${{ secrets.RELEASE_PLEASE_APP_ID }}
          private-key: ${{ secrets.RELEASE_PLEASE_APP_PRIVATE_KEY }}
          permission-contents: write
          permission-pull-requests: write
          permission-issues: write
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release-please
        with:
          release-type: python
          token: ${{ steps.app-token.outputs.token }}

  publish:
    name: Publish
    needs: release-please
    if: needs.release-please.outputs.should-publish == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write # for gh release upload
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3.4.1
      - run: uv build --verbose
      - run: gh release upload "${TAG_NAME}" dist/git_aicommit-* --clobber
        env:
          GH_TOKEN: ${{ github.token }}
          TAG_NAME: ${{ needs.release-please.outputs.tag }}
